* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.modal-dialog {
  max-width: 1000px !important;
}

/* Shapes */
.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: lightblue;
}

.square {
  width: 100px;
  height: 100px;
  background: lightblue;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: lightblue;
}

.rectangle {
  width: 200px;
  height: 100px;
  background: lightblue;
}

.oval {
  width: 200px;
  height: 100px;
  border-radius: 100px / 50px;
  background: lightblue;
}
